# Python
## Liste

In [2]:
iron_man = ['Iron Man',
            'Tony Stark',
            'Long Island, New York',
            'Marvel Comics',
            198.51,
            191.85,
            'M',
            1963,
            'Blue',
            'Black',
            85,
           'high']

### Accesso alla lista

In [ ]:
iron_man[1]
iron_man[-2] #con i negativi si parte dall'ultimo elemento quindi -2 è il penultimo
iron_man[4:6] #primo incluso, secondo escluso
iron_man[-4:-2]

### Operazioni sulle liste

In [3]:
names = ['Aquaman', 'Ant-Man', 'Batman', 'Black Widow',
         'Captain America', 'Daredavil', 'Elektra', 'Flash',
         'Green Arrow', 'Human Torch', 'Hancock', 'Iron Man',
         'Mystique', 'Professor X', 'Rogue', 'Superman',
         'Spider-Man', 'Thor', 'Northstar']

In [ ]:
'Thing' in names  #verifica se 'Thing' è presente nella lista names restituendo true o false
del names[0] #elimina l'elemento 0
len(names) #restituisce il numero di elementi
names.sort() #riordina la lista
names.sort(reverse=True) #riordina la lista al contrario
names.insert(4, 'Aquaman') #inserisce 'Aquaman' dopo l'elemento 4

**Lambda**

In [ ]:
successore = lambda n: n+1
successore(9) #restituisce 10

## Tuple
Una tupla è una lista immutabile

In [5]:
rogue = ('Rogue',
         'Anna Marie',
         'Caldecott County, Mississippi',
         'Marvel Comics',
         173.1,
         54.39,
         'F',
         1981,
         'Green',
         'Brown / White',
         10,
        'good')

Va notato che la sintassi per la descrizione delle tuple diventa problematica quando si vuole indicare una tupla contenente un unico elemento, in quanto per esempio (1) viene interpretato come valore 1 tra parentesi tonde. La soluzione in casi come questi è quella di fare seguire l'unico elemento della tupla da una virgola, scrivendo per esempio (1,). Come regola generale, infatti, è possibile aggiungere una virgola alla fine di una tupla (o di una lista) senza variarne i contenuti.

## Dizionari

In [6]:
rogue = {'name': 'Rogue',
         'identity': 'Anna Marie',
         'birth_place': 'Caldecott County, Mississippi',
         'publisher': 'Marvel Comics',
         'height': 173.1,
         'weight': 54.39,
         'gender': 'F',
         'first_appearance': 1981,
         'eye_color': 'Green',
         'hair_color': 'Brown / White',
         'strength': 10,
         'intelligence': 'good'}

### Accesso al dizionario

In [ ]:
rogue['identity']

## Strutture di controllo
Immaginiamo di voler contare il numero di apparizioni di supereroi ogni anno

In [7]:
names = ['Aquaman', 'Ant-Man', 'Batman', 'Black Widow',
         'Captain America', 'Daredavil', 'Elektra', 'Flash',
         'Green Arrow', 'Human Torch', 'Hancock', 'Iron Man',
         'Mystique', 'Professor X', 'Rogue', 'Superman',
         'Spider-Man', 'Thor', 'Northstar']

years = [1941, 1962, None, None, 1941,
         1964, None, 1940, 1941, 1961,
         None, 1963, None, 1963, 1981,
         None, None, 1962, 1979]

In [9]:
counts = {}
for y in years:
    if y in counts:
        counts[y] += 1
    else:
        counts[y] = 1
counts

{1941: 3,
 1962: 2,
 None: 7,
 1964: 1,
 1940: 1,
 1961: 1,
 1963: 2,
 1981: 1,
 1979: 1}

Supponiamo di voler visualizzare i conteggi visualizzando prima l'anno con il maggior numero di apparizioni, per poi procedere in ordine decrescente

In [10]:
pairs = list(counts.items())
sorted(pairs, key=lambda p:p[1], reverse=True)

[(None, 7),
 (1941, 3),
 (1962, 2),
 (1963, 2),
 (1964, 1),
 (1940, 1),
 (1961, 1),
 (1981, 1),
 (1979, 1)]

## Funzioni

In [ ]:
def get_sorted_counts(sequence):
    counts = {}

    for x in sequence:
        if x in counts:
            counts[x] += 1
        else:
            counts[x] = 1

    pairs = counts.items()
    return sorted(pairs, key=lambda p:p[1], reverse=True)

get_sorted_counts(years)

## defaultdict
L'espressione defaultdict() crea un dizionario vuoto e il tipo indicato come argomento determina quale sarà il valore predefinito per le chiavi. Nel nostro caso, l'argomento int fa sì che tale valore predefinito sia 0. Ciò permette di riscrivere la funzione get_sorted_counts in modo che non sia più necessario verificare preventivamente l'esistenza dei contatori.

In [ ]:
from collections import defaultdict

def get_sorted_counts(sequence):
    counts = defaultdict(int)

    for x in sequence:
        counts[x] += 1

    pairs = counts.items()
    return sorted(pairs, key=lambda p:p[1], reverse=True)

## Apertura file csv

In [22]:
import csv

with open('jupyter/data/heroes.csv', 'r') as heroes_file:
  heroes_reader = csv.reader(heroes_file, delimiter=';', quotechar='"')
  heroes = list(heroes_reader)[1:]

# Numpy

In [11]:
import numpy as np

## Creazione array

In [ ]:
a = np.array([1,2,3]) #crea un array
np.zeros((3, 4)) #crea una matrice di 0
np.arange(10,25,5) #crea un array da 10 (incluso) a 25 (escluso) con passo 5
np.linspace(0,2,9) #crea un array da 0 a 2 formato da 9 elementi equamente spaziati

## Informazioni

In [ ]:
a.shape
e.size
b.dtype

## Casting

In [ ]:
b.astype(int)

## Operazioni matematiche

In [ ]:
np.exp(b)
np.sqrt(b)
np.sin(a)
np.log(a)
a.sum()
a.min()
a.max(axis = 0)
b.cumsum(axis = 1) #somma cumulativa
a.mean()
a.median()
a.describe()
year.qauntile(.15)

# Pandas

In [23]:
import pandas as pd

## Serie

# Grafici